@media screen and (max-width: 480px) {

    :root {
        --main-color: #ffd93e;
    }

    .header {
        height: 100%;
        position: relative;
        padding-bottom: 6px;
    }

    #main-logo {
        top: 6px;
        left: 3%;
    }

    #burger {
        display: inline-block;
        position: absolute;
        top: 18px;
        left: 95%;
    }

    .header-menu {
        display: none;
        position: static;
        margin: auto;
        padding: 0 10%;
        line-height: 35px;
    }

    .header-menu li {
        display: inline;
        margin: auto;
        padding: 0 5%;
        font-size: 18px;
        
    }

/* -------------------------  MAIN  ------------------------------*/

    .scroll-arrows {
        display: none;
    }

    .main {
        display: block;
        width: 95%;
        padding: 3%;
        margin: auto;
    }

    .main-data {
        display: block;
        width: 100%;
        height: 100%;
        margin: 10px 0;
    }

    #glavnoe {
        display: none;
    }

    .main-data > img {
        width: 100%;
        max-width: 480px;
    }

    .main-data > h2 {
        top: 1%;
    }

    #main-info {
        top: 20%;
    }

    #where {
        position: absolute;
        top: 35%;
        left: 20px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
    
    #temp {
        position: absolute;
        top: 40%;
        left: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    /* ------------------------  MAIN-CONTROLS  -------------------- */

    .main-controls > p {
        padding: 0;
    }

    .items {
        display: inline-block;
        white-space: nowrap;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        padding: 5px 0;
    }

    .item {
        margin: 0;
        padding: 0;
        display: inline-block;
        white-space: normal;
    }

    /* ---------------------------  FAVORITES  -------------------- */

    .favorites {
        width: 95%;
        margin: 0 auto;
        padding: 5px;
    }

    .favorites > p > span {
        display: inline-block;
        margin: 0;
        padding: 5px 10px;
        margin-left: 80px;
        border-radius: 13px;
        background-color: var(--main-color);
    }

    .favorites > p > span > img {
        margin-left: 10px;
    }

    .favorites > ul > li {
        display: none;
    }

    .favorites-list-items {
        clear: both;
        display: block;
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 13px;
        background-color: rgba(0, 0, 0, 0.04);
    }

    .favorites-list-items:first-child {
        display: none;
    }

    /* ---------------------------  DEVICE-CARDS  -------------------- */

    .device-cards {
        margin: 5px auto;
        padding: 5px 0;
        width: 95%;
    }

    .device-card {
        margin: 0;

    }

    .device-card:first-child {
        margin: 0;
    }

    /* ---------------------------  FOOTER  -------------------- */

    .footer {
        clear: both;
        height: 40px;
        font-size: 12px;
    }

    .footer > ul {
        margin: auto;
    }

    .footer > ul > li {
        display: inline;
        color: rgba(0, 0, 0, 0.6);
        margin-right: 30px;
        line-height: 40px;
    }
}

